---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Projects from "../sections/Projects.astro";
import Contact from "../sections/Contact.astro";
---

<Layout title="Axel Pullaguari | Web">
  <Header />
  <main class="relative">
    <Hero />
    <About />
    <Projects />
    <Contact />
  </main>
</Layout>
