---
// src/layouts/Layout.astro

import Particles from '../components/Particles.astro';
import '../styles/global.css';
import favicon from '../assets/LogoLeon.svg';

interface Props { 
  title: string; 
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Web de Axel Pullaguari" />
    <meta name="viewport" content="width=device-width" />
    
   <link rel="icon" type="image/svg+xml" href={favicon.src} />
    
    <title>{title}</title>
  </head>
  <body class="bg-gray-900 text-gray-200">
    <div class="fixed top-0 left-0 w-full h-full z-[-1]">
      <Particles />
    </div>
    <slot />
  </body>
</html>